* {
    margin: 0;
    text-decoration: none;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: lightblue;
}

main {
    flex: 1;
}

nav {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

li a:hover {
    background-color: #111;
}

.align_right {
    float: right;
}

.align_right input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

.all_grid_container {
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    justify-content: center;
    align-items: start;
}

.all_grid_item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

footer {
    background-color: #111;
    font-size: 28px;
    color: white;
    padding: 1rem;
}

.account_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account_border {
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 400px;                 
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.admin_game_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_game_border {
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 900px;                 
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    padding: 12px 40px 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
  }

.game_rating {
    width: 100%;
    position: relative;
}

.star_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.star_wrapper label {
    position: relative;
    cursor: pointer;
    color: #000;
    transition: color 0.2s;
}

.star_wrapper > label:hover,
.star_wrapper > label:hover ~ label {
    color: gold;
}

.star_wrapper > input:checked ~ label {
    color: gold;
}

.star_wrapper input {
    display: none;
}

.clear_wrapper input {
    display: none;
}

.clear_wrapper label {
    position: relative;
    cursor: pointer;
}

.clear_wrapper .star_clear {
    position: relative;
    width: 100px;
    height: 40px;
    text-align: center;
    border: 2px solid #000;
    background-color: red;
    color: white;
}

.logout_button {
    background-color: red;
    color: white;
    padding: 14px 25px;
    display: inline-block;
}

.delete_button {
    background-color: red;
    color: white;
    padding: 14px 25px;
    display: inline-block;
}

.add_game_button {
    background-color: red;
    color: white;
    padding: 14px 25px;
    display: inline-block; 
}

.clear_wrapper {
    margin-left: 15px
}

.grid_link {
    color: inherit;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.individual_grid_container {
    display: grid;
    gap: 70px;
    grid-template-columns: 400px auto;
    padding: 10px;
    justify-content: center;
    align-items: start;
}

.individual_grid_item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.system_requirement {
    display: flex;
    justify-content: center;
}

.system_requirement table,
.system_requirement {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    justify-content: center;
}

.uneditable {
    width: 500px;
    height: 100px;
    resize: none;
}

.error {
    color: red;
    font-size: 30px
}

.success {
    color: green;
    font-size: 30px
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}