* {
    margin: 0;
    text-decoration: none;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body#bg_image {
    background-image: url("images/bg.jpg"); 
    background-size: cover;
    background-attachment: fixed;
}

main {
    flex: 1;
}

nav {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

li img {
    vertical-align: middle;
}

li.align_right a {
    padding: 12.25px 16px;
}

li.align_right form {
    padding: 3px;
}

li a:hover {
    background-color: #111;
}

.align_right {
    float: right;
}

.align_right input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

.all_grid_container {
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    justify-content: center;
    align-items: start;
}

.all_grid_item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.all_grid_item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #111;
    font-size: 28px;
    color: white;
    padding: 1rem;
}

.account_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75vh;
}

.account_border {
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 400px;                 
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.admin_game_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_game_border {
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 900px;                 
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    padding: 12px 40px 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
  }

.game_rating {
    width: 100%;
    position: relative;
}

.star_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.star_wrapper label {
    position: relative;
    cursor: pointer;
    color: #000;
    transition: color 0.2s;
}

.star_wrapper > label:hover,
.star_wrapper > label:hover ~ label {
    color: gold;
}

.star_wrapper > input:checked ~ label {
    color: gold;
}

.star_wrapper input {
    display: none;
}

.clear_wrapper input {
    display: none;
}

.clear_wrapper label {
    position: relative;
    cursor: pointer;
}

.clear_wrapper .star_clear {
    position: relative;
    width: 100px;
    height: 40px;
    text-align: center;
    border: 2px solid #000;
    background-color: red;
    color: white;
}

.clear_wrapper .star_clear:hover {
    border: 2px solid #000;
    background-color: #ff1111;
}


.logout_button, .delete_button {
    background-color: red;
    color: white;
    padding: 14px 25px;
    display: inline-block;
}

.add_game_button {
    background-color: green;
    color: white;
    padding: 14px 25px;
    display: inline-block; 
}

.clear_wrapper {
    margin-left: 15px
}

.grid_link {
    color: inherit;
    display: block;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.individual_grid_container {
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "top-row"
    "dropdown"
    "bottom-row";
    grid-template-rows: auto auto auto;
    padding: 20px;
}

.top-row {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-areas: "top-left top-right";
    gap: 50px;
}

.dropdown {
    grid-area: dropdown;
    text-align: center;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    justify-self: center;
    width: max-content;
}

.bottom-row {
    display: grid;
    grid-template-columns: 1fr 450px;
    grid-template-areas: "bottom-left bottom-right";
    gap: 50px;
}

.individual_grid_item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.uneditable {
    width: 500px;
    height: 100px;
    resize: none;
}

.error {
    color: red;
    outline: #000;
    outline-width: 10px;
    font-size: 30px
}

.success {
    color: lightgreen;
    outline: #000;
    outline-width: 10px;
    font-size: 30px
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    background-color: #4681f4;
    width: 250px;
    height: 50px;
    cursor: pointer;
}

.navigation p {
    color: white;
    text-shadow:
        2px 2px 0 black,
        -2px 2px 0 black,
        2px -2px 0 black,
        -2px -2px 0 black;
    font-size: 24px
}

select#platforms {
    background-color: #1a2a6c;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.go_back {
    background-color: #e0e0e0;
    width: 250px;
    height: 50px;
    cursor: pointer;
    font-size: 24px
}

.go_back_link {
    position: absolute;
    left: 50%;
    transform: translate(-50%)
}

.heading, .home_message {
    color: white;
    text-shadow:
        2px 2px 0 black,
        -2px 2px 0 black,
        2px -2px 0 black,
        -2px -2px 0 black;
}

p.heading {
    font-size: 24px
}

h2.home_message {
    font-size: 40px;
    text-align: center;
}

p.home_message {
    font-size: 28px;
    text-align: center;
}

.requirement_form {
    display: none;
}

.category_grid {
    display: grid;
    grid-template-columns: repeat(8, 120px);
    gap: 10px;
}

.platform_grid {
    display: grid;
    grid-template-columns: repeat(6, 170px);
    gap: 10px;
}

.page_load {
    animation: fadeIn 1s ease-out forwards
}

.game_info {
    font-size: 32px
}