{% extends 'layout.html' %}

{% block content %}

<head>
    <title>Games</title>
</head>
<h2 class="heading">Games</h2>
{% if games %}
<ul>
    {% if query %}
    <h2 class="home_message">Results for "{{ query }}"</h2>
    {% endif %}
    <div class="all_grid_container">
        {% for game in games %}
        <a href="/game/{{ game.GameID }}" class="grid_link">
            <div class="all_grid_item">
                {{ game.GameName }}<br>
                <img src="{{ url_for('static', filename='images/' ~ (game.GameImage or 'icon.png')) }}"
                height="300px" width="300px">
            </div>
        </a>
        {% endfor %}
    </div>
</ul>
{% else %}
<div class="center">
    <h2 class="home_message">No results for "{{ query }}"</h2>
    <p class="home_message">Double check your search for any typos or spelling errors - or try a different search term<br>
        Contact an admin if you want your query to be added
    </p>
</div>
{% endif %}
{% endblock %}