{% extends 'layout.html' %}

{% block content %}

<head>
    <title>Categories</title>
</head>
<h2 style="color: white;">Categories</h2>
{% if categories %}
<ul>
    <div class="all_grid_container">
        {% for category in categories %}
        <a href="/category/{{ category.CategoryID }}" class="grid_link">
            <div class="all_grid_item">
                {{ category.CategoryName }}<br>
                <img src="{{ url_for('static', filename='images/icon.png') }}" width="75px" height="75px">
            </div>
        </a>
        {% endfor %}
    </div>
</ul>
{% else %}
<p>No categories found.</p>
{% endif %}
{% endblock %}