{% extends 'layout.html' %}

{% block content %}

<head>
    <title>Platforms</title>
</head>
<h2 class="heading">Platforms</h2>
{% if platforms %}
<ul>
    <div class="all_grid_container">
        {% for platform in platforms %}
        <a href="/platform/{{ platform.PlatformID }}" class="grid_link">
            <div class="all_grid_item">
                {{ platform.PlatformName }}<br>
                <img src="{{ url_for('static', filename='images/' ~ (platform.PlatformImage or 'icon.png')) }}"
                    height="300px" width="300px"><br>
            </div>
        </a>
        {% endfor %}
    </div>
</ul>
{% else %}
<div class="center">
    <h2 class="home_message">No results for this platform</h2>
    <p class="home_message">Double check your search for any typos or spelling errors - or try a different search term<br>
        Contact an admin if you want your query to be added
    </p>
</div>
{% endif %}
{% endblock %}