{% extends 'layout.html' %}

{% block content %}

<head>
    <title>Categories</title>
</head>
<h2 class="heading">Categories</h2>
{% if categories %}
<ul>
    <div class="all_grid_container">
        {% for category in categories %}
        <a href="/category/{{ category.CategoryID }}" class="grid_link">
            <div class="all_grid_item">
                {{ category.CategoryName }}<br>
                <img src="{{ url_for('static', filename='images/' ~ (category.CategoryImage or 'icon.png')) }}"
                    height="300px" width="300px"><br>
            </div>
        </a>
        {% endfor %}
    </div>
</ul>
{% else %}
<div class="center">
    <h2 class="home_message">No results for this category</h2>
    <p class="home_message">Double check your search for any typos or spelling errors - or try a different search term<br>
        Contact an admin if you want your query to be added
    </p>
</div>
{% endif %}
{% endblock %}