{% extends 'layout.html' %}

{% block content %}
    <h2>Games</h2>
    {% if games %}
        <ul>
        <div class="all_grid_container">
            {% for game in games %}
            <a href="/game/{{ game.GameID }}" class="grid_link">
                <div class="all_grid_item">
                    {{ game.GameName }}<br>
                    <img src="{{ url_for('static', filename='images/' ~ (game.GameImage or 'icon.png')) }}" height="30px" width="30px">
                </div>
            </a>
            {% endfor %}
        </div>
        </ul>
    {% else %}
        <p>No games found.</p>
    {% endif %}
{% endblock %}
