{% extends 'layout.html' %}

{% block content %}
{% if category %}

<head>
    <title>{{ category.CategoryName }}</title>
</head>

<body>
    <h3 class="heading">{{ category.CategoryName }}</h3>
    <p class="heading">{{ category.CategoryDescription }}</p>
    {% if category.games %}
    <div class="all_grid_container">
        {% for game in category.games %}
        <a href="/game/{{ game.GameID }}" class="grid_link">
            <div class="all_grid_item">
                {{ game.GameName }}<br>
                <img src="{{ url_for('static', filename='images/' ~ (game.GameImage or 'icon.png')) }}" height="300px"
                    width="300px"><br>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p>No games listed</p>
    {% endif %}
    <br>
    </ul>
    {% else %}
    <p>No categories found.</p>
</body>
{% endif %}
{% endblock %}