{% extends 'layout.html' %}

{% block content %}
{% if platform %}
<head>
    <title>{{ platform.PlatformName }}</title>
</head>
<h3 class="heading">{{ platform.PlatformName }}</h3>
<p class="heading">{{ platform.PlatformDescription }}</p>
{% if platform.games %}
<div class="all_grid_container">
    {% for game in platform.games %}
    <a href="/game/{{ game.GameID }}" class="grid_link">
        <div class="all_grid_item">
            {{ game.GameName }}<br>
            <img src="{{ url_for('static', filename='images/' ~ (game.GameImage or 'icon.png')) }}" height="300px" width="300px"><br>
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<p>No games listed</p>
{% endif %}
<br>
</ul>
{% else %}
<p>No platforms found.</p>
{% endif %}
{% endblock %}