{% extends 'layout.html' %}

{% block content %}
    <h2>Games</h2>
    {% if games %}
        <div class="grid_container">
        {% for game in games %}
            <div class="grid_item">
                <img src="{{ url_for('static', filename='images/icon.png') }}"><br>
                <p>{{ game.GameName }}</p>
                {% if session %}
                    <div class="game_rating">
                        <form method="POST" action="/rate_game/{{ game.GameID }}">
                            {% for star in range(1, 6) %}
                                <input type="radio" name="rating" value="{{ star }}" 
                                    id="star{{ star }}"
                                    {% if user_rating == star %}checked{% endif %}
                                    onchange="this.form.submit();">
                                <label for="star{{ star }}">&#9733;</label>
                            {% endfor %}
                        </form>
                    </div>
                {% endif %}
            </div>
            <div class="grid_item">
                {% if game.system_requirements %}
                <ul>
                    {% for requirement in game.system_requirements %}
                        <p>
                            OS: {{ requirement.OS }}<br>
                            RAM: {{ requirement.RAM }}<br>
                            CPU: {{ requirement.CPU }}<br>
                            GPU: {{ requirement.GPU }}<br>
                            Storage: {{ requirement.Storage }}<br>
                        </p>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>No data available yet</p>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No games found.</p>
    {% endif %}
{% endblock %}
