<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/platform">Platforms</a></li>
                <li><a href="/game">Games</a></li>
                <li><a href="/category">Categories</a></li>
                <li><a href="/about">About</a></li>
                <li class="align_right">
                    <a href="/login">
                        <img src="{{ url_for('static', filename='images/icon.png') }}" width="30", height="30">
                    </a>
                </li>
                <li class="align_right"><input type="text" placeholder="Search Game..."></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endblock %}
    </main>
    <footer>
        <p>FOOTER</p>
    </footer>
</body>
</html>
