{% extends 'layout.html' %}

{% block content %}
<div class="account_container">
    <div class="account_border">
        <p>Register</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/register" method="POST">
            {% if form.errors %}
                <p>Please fix the following errors:</p>
                {% for field_name, error_list in form.errors.items() %}
                    {% for error in error_list %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {{ form.hidden_tag() }}
            {{ form.username }}<br><br>
            {{ form.password }}<br><br>
            {{ form.submit }}
        </form>
        <p>Already have an account? <a href="/login">Login Now</a></p>
    </div>
</div>
{% endblock %}