{% extends 'layout.html' %}

{% block content %}
<div class="account_border">
    <p>Register</p>
    <form action="/register" method="POST">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}
    {{ form.username }}<br><br>
    {{ form.password }}<br><br>
    {{ form.submit }}
    </form>
    <p>Already have an account? <a href="/login">Login Now</a></p>
</div>
{% endblock %}